.sheet-wrapper {
  font-size: 0;
  position: relative; }
  .sheet-wrapper .lines {
    position: relative;
    margin: 39px 0 0 138px;
    padding: 0;
    background: url(/assets/img/lines.png) repeat-x;
    height: 350px;
    width: 900px; }
    .sheet-wrapper .lines:before {
      content: '';
      display: inline-block;
      background: url(/assets/img/clef.png) no-repeat;
      height: 389px;
      width: 138px;
      position: relative;
      top: -39px;
      left: -138px; }
  .sheet-wrapper #note.current-note {
    position: absolute;
    left: 300px; }
  .sheet-wrapper #note.correct.sharp:after {
    background: url("/assets/img/sharp-green.png"); }
  .sheet-wrapper #note.playing.sharp:after {
    background: url("/assets/img/sharp-red.png"); }
  .sheet-wrapper #note.round {
    width: 31px;
    height: 31px;
    background: #000;
    border-radius: 31px; }
  .sheet-wrapper #note.sharp:after {
    content: '';
    background: url("/assets/img/sharp.png");
    width: 30px;
    height: 100px;
    top: -31;
    left: -31;
    position: absolute; }
  .sheet-wrapper #note.extra-line:before {
    content: '';
    height: 3px;
    width: 62;
    position: absolute;
    top: 16px;
    left: -16px;
    background-color: inherit; }
  .sheet-wrapper #note.g6 {
    top: -31px; }
  .sheet-wrapper #note.f6 {
    top: -14px; }
  .sheet-wrapper #note.e6 {
    top: 3px; }
  .sheet-wrapper #note.d6 {
    top: 20px; }
  .sheet-wrapper #note.c6 {
    top: 37px; }
  .sheet-wrapper #note.b6 {
    top: 54px; }
  .sheet-wrapper #note.a6 {
    top: 71px; }
  .sheet-wrapper #note.g5 {
    top: 88px; }
  .sheet-wrapper #note.f5 {
    top: 105px; }
  .sheet-wrapper #note.e5 {
    top: 122px; }
  .sheet-wrapper #note.d5 {
    top: 139px; }
  .sheet-wrapper #note.c5 {
    top: 156px; }
  .sheet-wrapper #note.b5 {
    top: 180px; }
  .sheet-wrapper #note.a5 {
    top: 197px; }
  .sheet-wrapper #note.g4 {
    top: 214px; }
  .sheet-wrapper #note.f4 {
    top: 231px; }
  .sheet-wrapper #note.e4 {
    top: 248px; }
  .sheet-wrapper #note.d4 {
    top: 265px; }
  .sheet-wrapper #note.c4 {
    top: 282px; }
  .sheet-wrapper #note.b4 {
    top: 299px; }
  .sheet-wrapper #note.a4 {
    top: 316px; }
  .sheet-wrapper #note.g3 {
    top: 333px; }
  .sheet-wrapper #note.f3 {
    top: 350px; }
  .sheet-wrapper #note.e3 {
    top: 367px; }
  .sheet-wrapper #note.d3 {
    top: 384px; }
  .sheet-wrapper #note.c3 {
    top: 401px; }
  .sheet-wrapper #note.b3 {
    top: 418px; }
  .sheet-wrapper #note.a3 {
    top: 435px; }
  .sheet-wrapper #note.g2 {
    top: 452px; }
  .sheet-wrapper #note.f2 {
    top: 469px; }
  .sheet-wrapper #note.e2 {
    top: 486px; }
  .sheet-wrapper #note.d2 {
    top: 503px; }
  .sheet-wrapper #note.c2 {
    top: 520px; }
  .sheet-wrapper #note.b2 {
    top: 537px; }
  .sheet-wrapper #note.a2 {
    top: 554px; }
